*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: gray;
}
.container{
    width:70%;
    height: 100vh;
    margin: auto;
    color: black;
    background-color: white;
}
.container #basicdetails{
    border: 1px solid black;
}

#basicdetails tbody .key{
    font-weight: 600;
}